/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
*=require masonry/transitions
*=require masonry/basic
*=require masonry/centered
*=require masonry/infinitescroll
*= require_self
*= require_tree .
 *= require nav-bar

 */

/*タイムテーブル*/
table.timetable-table
{
background-color: transparent;
}
.timetable-table td
{
  font-size:24pt;

}
.timetable-table 
{

  margin-bottom: 20px;
  border-bottom: 1px solid #dddddd;
}
.timetable-table > thead th,.timetable-table > tbody > tr td
{
  text-align: center;
  padding: 8px;
  line-height: 1.428571429;
  vertical-align: center;
  border-top: 1px solid #dddddd;
}
.timetable-table-bordered > thead > th,.timetable-table-bordered > tbody > tr > td
{
  border: 1px solid #dddddd;
}
.timetable-table > thead th
{
  font-size:24pt;
}
.timetable-table > thead th
.place
{
  font-size:24pt;
  vertical-align:top;
}

