/*Navigation bar*/
#nav-bar{
  padding:0;
  margin:0;
  list-style-type: none; 
  height:30px;
}

#nav-bar li{
  width:25%;
  float:left;
  padding:0;
  margin:0;
  text-align:center;

}

#nav-bar li a{
  width:auto;
  color:#ffffff;
  font-size:20px;
  font-weight:bold;
  padding:10px 0;
  text-decoration:none;
  display:block;
  background:#A31F21;
}

#nav-bar li a:hover{
  background:#741617;
}

/*端を丸くする*/
#nav-bar li:first-child a{
  border-radius:5px 0 0 5px;
}
#nav-bar li:last-child a{
  border-radius:0 5px 5px 0;
}

/*タイムテーブル*/

table.timetable-table
{
  max-width: 100%;
  background-color: transparent;
}
.timetable-table td
{
  font-size:150%;
}
.timetable-time td
{
  font-size:100%;
}
.timetable-table 
{
  width: 100%;
  margin-bottom: 20px;
  border-bottom: 1px solid #dddddd;
}
.timetable-table > thead th,.timetable-table > tbody > tr td
{
  text-align: center;
  padding: 8px;
  line-height: 1.428571429;
  vertical-align: center;
  border-top: 1px solid #dddddd;
}
.timetable-table-bordered > thead > th,.timetable-table-bordered > tbody > tr > td
{
  border: 1px solid #dddddd;
}
.timetable-table > thead th
{
font-size:1.25em;
}
.timetable-table > thead th
.place
{
font-size:24pt;
vertical-align:top;
}

