h1 1階

h2 高専生でも賭けがしたい
p カジノゲームを用意しております．お菓子がとんでもない量，手に入るかも!?
p 411講義室/1年5組

h2 お化け屋敷
p 1年4組は，1年3組と合同でお化け屋敷をします．他クラスに負けないお化け屋敷になっているので是非来てください．
p 412講義室/1年3組，1年4組

h1 2階

h2 Gentle Coffee
p 吟味を重ねた材料と，鍛錬を積んだ店員たちによる，誰もが紳士淑女になれる喫茶店です．(子供用メニューあり)
p 420講義室/電気3年

h2 いつヤるの？
p 1-1は「祭」をテーマとした企画を行います！成績が優秀な方に景品がもらえます！一緒に熱くなろうぜ♂
p 421講義室/1年1組

h2 遊技場
p トランプやUNOなどのカードゲームでみんなと楽しめます．豪華な賞品もあるかもしれません！ぜひ来てみてください！
p 422講義室/1年2組
h1 3階
h2 食だこ
p たこ焼き焼いてます！変わり種も用意してます！ふらっと立ち寄ってみてください．
p 430講義室/電気電子システム4年

h2 ナンと！？カレー屋かつや
p 今年で4回目の出店となりました．今年が最後の出店となりますのでまだ食べたことがない方も，今まで食べたことがある方も是非いらしてください！なくなり次第終了します．
p 430講義室/物質工学専攻科2年

h1 4階
h2 フリーマッケット
p あらゆる高専生の私物が集まるフリーマッケット！"高専生らしい"あんな物やこんな物が・・・?
p 440講義室/学園祭実行委員会

h2 平成26年度海外派遣研修報告会
p 海外派遣，タイ，マレーシア，ベトナムを訪れた学生の体験を報告！
p 441講義室/国際交流推進センター

h2 "リケジョでサイエンス！"(講演会篇)
p 理系女子(リケジョ)のお仕事を紹介するロールモデル講演会です．
p 441講義室/長岡高専男女共同参画室


