h1 1階

h2 屋上フライアウェイ
p 揚げ物の販売をします．美味しくします．
p 611講義室/電子制御3年

h2 焼き so Burn!
p バーンバーンバーンバーン"焼き so burn!!!!"あなたの心を熱くする焼きそば作ります．ぜひあなたも焦がされてみては？
p 611講義室/電子制御4年

h2 和風喫茶-稜太-
p 環境4年は喫茶店をやります．安くて美味しい食べ物を提供します．今年はなんといってもお店の雰囲気づくりに力をいれました．校内を回っていてひと休みしたいときなど気軽に立ち寄ってください．
p 612講義室/環境都市4年

h2 たこ焼き屋！！
p 男だけで！全力でたこ焼きを作り，全力で販売します！！ただそれだけです！どうぞおこしください
p 613講義室/機械4年

h2 はな◯るうどん
p 昨年度に引き続き，うどんの販売を行います！数量限定！完売必須！ぜひ一度ご賞味あれ！！
p 614講義室/物質4年

h2 Art-shop
p 美術部の活動で制作したアクセサリーやストラップを数量限定で販売します．
p 614講義室隣小部屋/Ac's Project

h1 2階

h2 ガリレオ教材を体感
p ピタゴラスイッチを連想する，長岡高専の教職員が遊び心を持って作ったガリレオ装置や実演を通して，不思議を体験しよう．
p 6号館2階テラス/ガリレオ教材作製メンバー

h2 制御システム研究同好会
p 展示内容 
p ・自作電子回路
p ・ライントレースロボット
p ・自作ラジコン
p 回路に電池をつなげるとLEDが点灯しますのでご自由に試してみてください．
p 6号館2階テラス/部活動発表


h2 デザイン部
デザイン部では，毎年11月に開催されるデザインコンペティションに向けて活動しています．これまでに制作した作品の展示を行いますので，ぜひ足を運んでみてください．
p 6号館2階テラス/部活動発表


h2 カードゲーム！！
p トランプを使ったゲーム(ばばぬき，大富豪，神経衰弱，7並べ など)や，UNO，花札で遊ぶ．(トレーディングカードゲーム☓)　参加者にはお菓子を用意しています．
p 621講義室/機械2年

h2 GAY♂専2
p あの，伝説の企画が帰ってきた！君のハートを打ち抜く面白さ！景品もパワーアップしました！みんな，来てくださいね♡　(注)射的です笑
p 622講義室/電気電子システム2年

h2 Foolish Casino
p この企画だけで使える通貨を配り，その通貨を賭けてゲームをしてもらう．通貨の量によって様々な景品を用意しておき自分の好きなタイミングで景品と通貨を交換してもらう．
p 623講義室/電子制御2年

h2 WANTED!!
p 物質2年は冒険型スタンプラリーを実施します．校内に散らばったターゲット達からスタンプを集めて景品をGETしましょう！
p 624講義室/物質2年

h2 妖怪ウォッ◯ンコ〜待ち受けるお化けに玉はあるのか！？〜
p 男，女，オカマ・・・ かつてこの世の全てを手に入れたオカマ集団ci2．彼らが高志祭で放った一言は人々を6号館2階へと駆り立てたっっ！！
p 625講義室/環境都市2年

h1 3階

h2 模型同好会
p ガンプラや鉄道模型を展示しています．是非身に来てください．
p 6号館3階テラス/部活動発表

h2 電算機部
p 電算機部ではプログラミングを用いてゲームなどを作っています．今年の文化祭ではシューティングゲームを展示する予定です．是非やってみてください！
p 6号館3階テラス/部活動発表

h2 写真部
p 写真部は今年入部した部員が多く，部員数が増えました．様々な写真を撮り，多くアルバムを作成しました．ぜひ，見に来てください！
p 631講義室/部活動発表

h2 書道部
p 部員が制作した作品を展示して来場した方に見てもらいます．いろいろな種類の字体や大きさの作品がありますのでぜひ見ていってください．
p 631講義室/部活動発表

h2 美術部
p 当部は各部員が自由に作品作りに取り組んでいます．日々の活動で作成した良作を多数展示するので，創造的で不思議な世界観をぜひご覧になってください．
p 631講義室/部活動発表

h2 文芸部
p 今年も部誌配布$演劇「out grow」やります！ぜひ来てください！
p 632講義室/部活動発表

h2 喫茶店Urbanity
p また今年もあの企画が帰ってきました！美味しい紅茶やコーヒー用意してお待ちしておりますのでぜひご来店ください．
p 633講義室/電子制御5年

h2 おでんの里
p お，美味しいおでんを食べることが
p で，出来たら思わず言っちゃう
p ん，んめぇなぁ〜（´∀`）
p 634講義室/物質3年
h2 お化け屋敷
p 今年で3年目の老舗お化け屋敷です．ガチで出るから来ない方がいいよ(はぁと
p 635講義室/環境3年

h1 4階

h2 ロボティクス部
p 今回の展示の1つはNHK高専ロボコン2012で活躍した，「大犬闘」です．このロボットはカメラで人の動きを認識してそれにあわせて競技を行います．地区大会ではアイディア賞と特別賞を受賞しました．もう1つはロボカップジュニアで活躍した「The World」です．このロボットは日本大会で優勝，世界大会出場というすばらしい結果を残しました．
p 6号館4階テラス/部活動発表

h2 天文同好会
p 星の写真，望遠鏡の展示をしています．
p 6号館4階テラス/部活動発表

h2 インターアクト部
p 今回の文化祭では私達の活動を紹介します．ぜひ来てください．
p 6号館4階テラス/部活動発表

h2 機械工学科 学科発表
p 機械工学科の学生有志が3年の総合製作で製作した野菜収穫・運搬ロボットの展示と競技会を行います．野菜に見立てた様々の形状・サイズ・重量のオブジェクトを収穫するロボットをアイディアを出し合って設計，製作しました．また，機械工学科の紹介や研究成果，3Dプリンタなどの最新設備の展示も行います．
p 643講義室/機械工学科

h2 電気電子システム工学科 学科発表
p 「電気を作る・あやつる・みる」静電気からロボットまで電気に関するいろいろな実験を体験・体感できるブースです．普段味わえない電気の不思議な世界をのぞいてみませんか！ぜひ，お越しください！！
p 644講義室/電気電子システム工学科

h2 電子制御工学科 学科発表
p 電子制御工学科の紹介ブースは，4年生が中心になって行います．本学科の特徴の一つはメカニクス，電子回路，情報処理の技術が融合したメカトロ機器を意識しならら勉強できるところです．今回は，こうした学科の特徴を説明したパネルと電子回路製作で作った作品を展示しています．
p 644講義室/電子制御工学科

h2 物質工学科 学科発表
p 物質工学科の過去，現在，未来 物質工学科の歴史，今日の学生のすがた．そして学生と学科の将来像をお見せします．また，現物の約1億倍の分子モデル作製の体験コーナーもあります．来たれ！物質工学科へ
p 645講義室/物質工学科

h2 環境都市工学科 学科発表
p 環境都市工学科の概要などを，パネルを使って展示します．さらに，環境都市工学科の各研究室について，研究室に配属したての4年生が中心となって紹介します．
p 645講義室/環境都市工学科

h1 5階

h2 スマブラトーナメント
p 毎年恒例のこの企画が今年も始まる．君はこの壮絶なバトルで勝ち抜くことができるのか？
p 651講義室/学園祭実行委員会

h2 雀荘
p 無料で数卓開放します．1人や初心者の方も気軽に打ちに来てください！
p 652講義室/チーム小十郎

h2 巫女みこダーツ
p かわいい(?)巫女さんとダーツはいかが？高得点でお菓子をプレゼント！
p 653講義室/YLab


