h1 部室棟前

h2 米米
p 様々なサンドイッチを用意して皆様のご来店をお待ちしております！
p mb4男子

h2 Chona-bucks☆Cofee
p 青い空，白い雲，冷たいタピオカ!!美味しいチュロス!!をどうぞ(^-^)
p Chona-bucks☆Cofee

h2 Ci5
p 長岡のB級グルメかも知れないこのコロッケいかがです？(ご一緒にらきょ山のタピオカもどうぞ)
p スマイルコロッケ丸山

h2 らきょ山のコンポタ
p 石山正太郎が丹精込めて作ったコーンポタージュを販売します☆
p 栃木県足利会

h1 4号館前

h2 VietNam Team
p ベトナムの料理といえばフォーです．フォーは麺類の一つです．ぜひ一回フォーを食べに来てください．
p ベトナム留学生

h2 マレーちゃん
p 露店のメインはマレーシアの伝統的な食べ物です．ぜひナシレマとアヤムゴレンを食べてみてください！
p マレーシア留学生

h2 俺のチョコバナナ
p あの「◯の」株式会社監修のチョコバナナ専門店．ぜひ食べに来てください！
p 東アジアチョコバナナ連合

h2 EVER HIRAKATA
p ドネルチキン売ってます．写真は露店内容とは関係ありません．
p Acci2

h2 じゃがや
p 新感覚!! ジャガイモなのにもちみたい!?ご賞味あれ!
p バレーボール部

h2 鉄板屋てっちゃん
p 出来立ての焼きうどんとお好み焼きをご用意しておまちしております．
p てっちゃんズ

h2 陸上苑
p 焼き鳥を売っています．食べてください(＝´∀`)人(´∀`＝)
p 陸上競技部

h2 たまたま屋
p たまたま，あなたのお口に．たまたま，届けちゃいました
p 物質工学専攻科1,2年合同組

h2 豚汁亭
p 素材の種類が豊富な美味しい豚汁です！是非食べに来てください！
p 機械5年

h2 バド屋
p ハッシュドポテト，コロッケ，味噌田楽，手作りストラップを販売しています．ぜひ来てみてください．
p バドミントン部

h2 COWGIRL'S TACOS
p JK(女子高専生)が愛情込めて作るタコス！食べに来てください．
p MB5女子

h2 タピオカもるぞー
p ぷにぷに食感のタピオカが入ったドリンクを販売します．
p Tapioca MORUZO


